<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/metadata') %>
    <%- include('./partials/style-links') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="main-ctn">
            <div class="client-ctn">
                <div class="cart">
                    <h2 class="cart-title">Lista de productos:</h2>
                    <div class="cart-types card rounded-0">
                        <div class="cart-props">
                            <p><strong>Nombre:</strong></p>
                            <p><strong>Precio:</strong></p>
                            <p><strong>Cantidad:</strong></p>  
                        </div>
                    </div>
                    
                        <% contador.forEach(cont => { %>
                            <p data-total="<%= cont.total %>" class="total-vendidos"></p>     
                            <p data-cont="<%= cont.contador %>" class="productos-vendidos"></p>
                        <% }) %>

                </div>
                <div class="payment-option-ctn">
                    <label>
                        Contado
                        <input type="radio" name="metodo" value="Contado" checked>
                    </label>
                    <label>
                        Cuenta Corriente
                        <input type="radio" name="metodo" value="Cuenta Corriente">
                    </label>
                </div>

                <div class="client-lists">
                    <div class="price-lists-ctn">
                        <select class="price-opts">
                          <option class="price-list" value="list-1">Lista de precios 1</option>
                          <option class="price-list" value="list-2">Lista de precios 2 (10%)</option>
                        </select>
                    </div>
    
    
    
                    <div class="client-search-ctn">
                        <div class="client-info">
                            <input class="client-search" type="text" placeholder="Buscar Cliente">
   
                                <div class="client-item-ctn">
                                    <% clientes.forEach(cliente => { %>
                                        <a  data-balance="<%= cliente.fiado %>" class="client-item" href=""><%= cliente.nombre %> <%= cliente.apellido %></a>
                                    <% }) %>
                                </div>

                        </div>
                    </div>
                    <div class="balance-ctn">
                        <input class="balance" type="number" placeholder="Monto a saldar"> 
                        <button type="button" class="balance-btn btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                            </svg>
                        </button> 
                    </div>
                </div>

            </div>
            <div class="cards-ctn">
                    <div class="card rounded-0">
                        <div class="card-props">
                            <p><strong>Nombre:</strong></p>
                            <p><strong>Precio:</strong></p>
                            <p><strong>Cantidad:</strong></p>  
                        </div>
                    </div>
                <% productos.forEach(producto => { %>
                    <div class="card rounded-0">
                        <div class="card-product">
                            <div class="card-info">
                                <h4 class="product-name"> <%= producto.nombre %></h4>
                                <div class="price-ctn">
                                    <p class="price-text"> <span data-price="<%= producto.venta %>" class="price-element formato"> <%= producto.venta %></span></p>
                                    <% if(userRole === 'admin') { %>
                                    <a href="#" class="edit-price" data-name="<%= producto.nombre %>">Editar</a>
                                    <button type="button" class="price-edit-btn btn btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                        </svg>
                                    </button> 
                                    <% } %>
                                </div>
                                <div class="quantity-ctn">
                                    <p class="quantity-text"> <span data-quantity="<%= producto.cantidad %>" class="quantity-element"><%= producto.cantidad %></span></p>
                                    <% if(userRole === 'admin') { %>
                                    <a href="#" class="edit-quantity" data-name="<%= producto.nombre %>">Editar</a>
                                    <button type="button" class="quantity-edit-btn btn btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                        </svg>
                                    </button> 

                                    <% } %>
                                </div>
                                <div class="add-btn-ctn">
                                    <a href="#" class="add-btn bttn" data-name="<%= producto.nombre %>" >Agregar</a>
                                    <button type="button" class="quantity-btn btn btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                        </svg>
                                    </button>   
                                </div>
                            </div> 
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>

    </main>
    <%- include('./partials/bootstrap-script') %>
    <script src="js/main.js"></script>
</body>
</html>